.action {
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 2em;
    background-color: #306BFF;
    box-shadow: 0px 15px 20px -15px rgba(48, 107, 255, 0.66);

    p {
        margin-left: 0.25em;
    }

}