.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba($color: #ffff, $alpha: 0.5);
    backdrop-filter: blur(5px);
}

.card {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow: hidden;
    box-sizing: border-box;
    width: 450px;
    box-shadow: 0px 0px 50px -10px rgba($color: #000000, $alpha: 0.75);
    border-radius: 10px;

    form {
        background-color: #fff;
        padding: 1em 1.5em;
        display: flex;
        flex-direction: column;

        h2 {
            padding-bottom: 1em;
            border-bottom: 1px solid #ccc;
        }

        .controls {
            margin-top: 1em;
            display: flex;
            flex-direction: column;

            .date {
                display: flex;
                gap: 0.5em;

                // background-color: green;
                & div:nth-child(1) {
                    flex: 2;
                }

                & div:nth-child(2),
                & div:nth-child(3) {
                    flex: 1;
                }

                input {
                    width: 100%;
                }
            }
        }

        .action {
            background-color: #437bbe;
            justify-content: center;
            margin-top: 2em;
        }
    }
}