form {
    background-color: #fff;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;

    h2 {
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    .controls {
        margin-top: 1em;
        display: flex;
        flex-direction: column;

        .date {
            display: flex;
            gap: 0.5em;

            // background-color: green;
            & div:nth-child(1) {
                flex: 2;
            }

            & div:nth-child(2),
            & div:nth-child(3) {
                flex: 1;
            }

            input {
                width: 100%;
            }
        }


    }

    .action {
        background-color: #437bbe;
        justify-content: center;
        margin-top: 2em;
    }
}