.status {
    justify-self: flex-end;

    .date {}

    .like {
        background: none;
        padding: 0;
        color: rgb(48, 102, 250);
    }

    .completed {
        color: rgb(77, 172, 0);
    }
}