li {
    margin: 10px 0;
    // border: 5px solid red;
    cursor: grab;

    .todo-item {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;

        .body {
            padding: 20px 15px;

            .title {
                margin-bottom: 10px;
                font-size: 1.25em;
                font-weight: 700;
            }

            .description {
                color: #999;
                font-weight: 500;
                margin-bottom: 15px;

            }

            .tags {
                display: flex;

            }
        }

        .footer {
            border-top: 1px solid #ccc;
            padding: 0.75em;

            color: #888;
            display: grid;
            grid-template-columns: repeat(2, 1fr) 4fr;

            div {
                display: flex;
                align-items: center;
                font-size: 20px;

                p {
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                }

            }
        }

    }
}