.todo-states {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    padding: 100px 0;
    z-index: 1;
}

.temp-nav {
    width: 250px;
    height: 100vh;
    border-right: 1px solid #ccc;
}