* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: white;

}


#root {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 250px 1fr;
  -ms-grid-columns: 250px 1fr;
  grid-gap: 3em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}