.modal {
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .content {
        z-index: 100;
    }

    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba($color: #ffff, $alpha: 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-down 300ms ease-out forwards;
}

// .on {
//     animation: slide-down 300ms ease-out forwards;
// }

// .off {
//     animation: slide-up 300ms ease-out forwards;
// }


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-3rem);
    }
}